.footer {
  padding: 20px 0 30px;
  background-color: #000;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}
.footer__navigation {
  flex-basis: 100%;
}
.footer__copyrigth {
  font-size: 14px;
  font-weight: 300;
  color: #a3b6c7;
}

@media (min-width: 560px) {
  .footer__navigation {
    flex-basis: auto;
  }
  .footer__content {
    margin-bottom: 45px;
  }
}
@media (min-width: 1024px) {
  .footer__copyrigth {
    font-size: 16px;
  }
}
